    <section>
        <div class="container-custom">
            <div class="lg:flex space-y-5 lg:space-y-0 items-center justify-between">
                <div class="flex-[2]">
                    <h3>Contacts</h3>
                    <div class="grid grid-cols-1 md:grid-cols-2 py-3 gap-5">
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex space-x-2">
                            <span class="p-6 bg-[#AE4482] text-white rounded-md">
                                <i class="text-xl fa-solid fa-phone"></i>
                            </span>
                            <ul>
                                <li class="font-semibold">Téléphone</li>
                                <li class="flex space-x-1"> <span><img class="h-5 w-5" src={{ asset("/images/france.jpeg") }} alt=""></span> <span>+33 675 510 742</span></li>
                                <li class="flex space-x-1"> <span><img class="h-5 w-5" src={{ asset("/images/cameroun.png") }} alt=""></span> <span>+237 665 077 629</span></li>
                            </ul>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex space-x-2">
                            <span class="p-6 bg-[#AE4482] text-white rounded-md">
                                <i class="text-xl fa-solid fa-at"></i>
                            </span>
                            <ul>
                                <li class="font-semibold">Email</li>
                                <li>solangegauchet@free.fr</li>
                                <li>gauchet.solange@yahoo.com</li>
                            </ul>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex space-x-2">
                            <span class="p-6 bg-[#AE4482] text-white rounded-md">
                                <i class="text-xl fa-solid fa-location-dot"></i>
                            </span>
                            <ul>
                                <li class="font-semibold">Localisation</li>
                                <li>Petit marché Odza, Carrefour Mvog Manze avant dépôt Guinness</li>
                            </ul>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex space-x-2">
                            <span class="p-6 bg-[#AE4482] text-white rounded-md">
                                <i class="text-xl fa-regular fa-clock"></i>
                            </span>
                            <ul>
                                <li class="font-semibold">Nous travaillons</li>
                                <li>Tous les jours</li>
                                <li>8h - 17h</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-aos-duration="1000" data-aos="fade-left" id="map" class="flex-1">
                     
                </div>
                {# <div>
                     
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="400" height="400" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=yaounde&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                                scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                            <a href="https://www.embedgooglemap.net">embedding google map in website</a>
                        </div>
                    </div>
                </div> #}
            </div>
        </div>
    </section>