<!-- reservation -->
    <section class="bg-blue-50 py-16">
        <div class="container-custom">
            <div class="lg:flex items-center space-y-8 lg:space-y-0 space-x-16">
                <div data-aos-duration="1000" data-aos="fade-right" class="flex-1">
                    <h3 class="text-4xl mb-5">Etapes de la réservation</h3>
                    <div class="flex flex-col space-y-7">
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex items-center space-x-3">
                            <span class="p-5 bg-blue-900 text-white rounded">
                                <i class="fa-solid fa-bed"></i>
                            </span>
                            <div class="">
                                <p class="font-semibold">Choissez un logement</p>
                                <p>Faites votre choix parmis les choix disponibles</p>
                            </div>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex items-center space-x-3">
                            <span class="p-5 bg-blue-900 text-white rounded">
                                <i class="fa-solid fa-calendar-check"></i>
                            </span>
                            <div data-aos-duration="1000" data-aos="fade-up" class="">
                                <p class="font-semibold">Contactez le gestionnaire</p>
                                <p style="width: 90%;">Le gestionnaire est disponible 7j/7 pour prendre en compte votre reservation</p>
                            </div>
                        </div>
                        <div data-aos-duration="1000" data-aos="fade-up" class="flex items-center space-x-3">
                            <span class="p-5 bg-blue-900 text-white rounded">
                                <i class="fa-solid fa-hotel"></i>
                            </span>
                            <div class="">
                                <p class="font-semibold">Rendez-vous à la résidance</p>
                                <p>Notifier le jour de son arrivé et entrer en possession de son logement</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos-duration="1000" data-aos="fade-up" class="flex-1 relative">
                    <div class="">
                        <img class="w-full rounded-lg aspect-square" src={{asset("/images/5.jpg")}} alt="">
                    </div>
                    <div data-aos-duration="1000" data-aos="fade-right" class="bg-white absolute bottom-32 p-6 rounded-md -left-20 w-64 md:w-80 shadow">
                        <p class="text-2xl">Appartement meublé</p>
                        <p><span class="text-4xl font-semibold">$149</span> / night</p>
                    </div>
                </div>
            </div>
        </div>
    </section>