{% extends 'admin.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <div class="w-11/12 mx-auto">
        <h3>Poster un Appartement</h3>
        {{ include('room/_form.html.twig') }}
        <a href="{{ path('app_room_index') }}">back to list</a>
    </div>
{% endblock %}
