{% extends 'admin.html.twig' %}

{% block title %}Edit Facility{% endblock %}

{% block body %}
    <div class="w-11/12 mx-auto">
        <h3>Modifier une Facilité</h3>
        {{ include('facility/_form.html.twig') }}
        <a href="{{ path('app_facility_index') }}">back to list</a>
    </div>
{% endblock %}
