{% extends 'admin.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <div class="w-11/12 mx-auto">
        <h3>Modifier un article</h3>

        {{ include('post/_form.html.twig', {'post': post,'button_label': 'Update'}) }}

        <a href="{{ path('app_post_index') }}">back to list</a>

        {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
