{% extends 'admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
     <div class="w-11/12 mx-auto">
        <h3>Ajoutez Utilisateur</h3>
        {{ include('user/_form.html.twig') }}
        <a href="{{ path('app_user_index') }}">back to list</a>
    </div>
{% endblock %}
